<h1><%= @user.name %></h1>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>

<%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete?" %>
<% end %>
